.root {
  background-color: var(--color-salmon);
  color: var(--color-midnight-purple);
  padding: 32px 28px 24px 28px;
  position: relative;
  text-align: center;

  @media screen and (min-width: 768px) {
    padding: 28px 40px;
    text-align: left;
  }
}

.content {
  align-items: center;
  column-gap: 28px;
  display: grid;
  grid-template-areas: 'icon' 'title' 'subtitle';
  grid-template-columns: 1fr;
  justify-content: center;
  row-gap: 4px;

  @media screen and (min-width: 768px) {
    grid-template-areas: 'icon title' 'icon subtitle';
    grid-template-columns: auto 1fr;
    justify-content: start;
  }
}

.icon {
  color: var(--color-midnight-purple);
  grid-area: icon;
  margin: 0 auto 20px;

  @media screen and (min-width: 768px) {
    margin: 0;
  }
}

.title {
  font-size: 24px;
  grid-area: title;
  margin: 0;

  @media screen and (min-width: 768px) {
    font-size: 32px;
  }
}

.subtitle {
  grid-area: subtitle;
}

.close {
  align-items: center;
  background-color: transparent;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  position: absolute;
  right: 8px;
  top: 8px;
  transition: all 0.5s ease;
  width: 40px;
  z-index: 2;

  &:active,
  &:hover {
    background-color: var(--color-dark-salmon);
  }
}

.closeIcon {
  color: var(--color-purple-gray);
}
