.root {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid transparent;
  font-family: 'Work Sans';
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  padding: 16px 24px;
  transition: all 0.5s ease;

  &:disabled {
    opacity: 0.75;
  }

  &:not(:disabled) {
    cursor: pointer;
  }
}

.rootPrimary {
  background-color: var(--color-midnight-purple);
  color: var(--color-white);

  &:not(:disabled) {
    &:hover {
      background-color: var(--color-midnight-purple-light);
    }

    &:active {
      background-color: var(--color-midnight-purple-dark);
    }
  }
}

.rootGhost {
  border-color: var(--color-purple-gray);
  color: var(--color-purple-gray);

  &:not(:disabled) {
    &:hover {
      background-color: var(--color-ghost-purple-light);
    }

    &:active {
      background-color: var(--color-ghost-purple-dark);
    }
  }
}

.rootFullWidth {
  width: 100%;
}
