.root {
  background: var(--color-white);
  border-radius: 4px;
  border: 1px solid var(--color-stroke);
  color: var(--color-purple-gray);
  font-family: 'Rubik';
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  padding: 16px;
  transition: all 0.5s ease;
  width: 100%;

  &:focus,
  &:focus-visible {
    border-color: var(--color-midnight-purple);
    outline: none;
  }

  &::placeholder {
    color: var(--color-placeholder);
  }

  &:-webkit-autofill {
    -webkit-background-clip: text;
  }

  &::-webkit-datetime-edit-day-field:focus,
  &::-webkit-datetime-edit-month-field:focus,
  &::-webkit-datetime-edit-year-field:focus {
    background: var(--color-midnight-purple);
    color: var(--color-white);
  }
}
